<ion-app>
  <ion-split-pane contentId="main-content" class="luxury-split-pane">
    <ion-menu contentId="main-content" type="overlay" class="luxury-menu">
      <ion-header class="ion-no-border">
        <ion-toolbar class="luxury-toolbar">
          <ion-title class="luxury-title text-gradient-gold">
            <ion-icon name="diamond" class="logo-icon"></ion-icon>
            {{ nomMagasin }}
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="luxury-menu-content">
        <div class="menu-header-spacer"></div>
        <ion-list class="luxury-list">

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/home" routerDirection="root" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="home"></ion-icon></div>
              <ion-label>Accueil</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/products" routerDirection="root" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="cube"></ion-icon></div>
              <ion-label>Produits</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/create-sale" routerDirection="root" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="cart-outline"></ion-icon></div>
              <ion-label>Nouvelle Vente</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/sales" routerDirection="root" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="time-outline"></ion-icon></div>
              <ion-label>Historique</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/cloture-caisse" routerDirection="forward" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="moon"></ion-icon></div>
              <ion-label>Clôture Caisse</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <div class="menu-divider"></div>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/dashboard" routerDirection="root" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="stats-chart"></ion-icon></div>
              <ion-label>Statistiques</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/settings" routerDirection="root" lines="none" detail="false" routerLinkActive="selected-item">
              <div class="icon-box"><ion-icon name="settings"></ion-icon></div>
              <ion-label>Parametres</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="menu-footer">
          <p class="version">Stockou hors ligne</p>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
